 <div class="container-fluid terms">
    <p class="terms__title">
        terms &amp; conditions
    </p>
    <section class="terms__content">
        <p class="terms__descr">
            At the Harlem Candle Co. all of our products 
            are carefully inspected before they are shipped. 
            Due to the nature of our products, used candles 
            cannot be returned or refunded. However, we will
            replace or refund products damaged during shipment
            if photographic proof of damage is submitted to 
             Harlem Candle Co. within 7 days of delivery.
        </p>
        <p class="terms__descr">
            You may also exchange your product for another candle
            of the same size and price within 14 days of purchase.
            The buyer is responsible for shipping cost on all return items.
        </p>
        <p class="terms__descr">
            In the event the package is damaged during shipping you may return
            your unused candle(s) for a full refund of your purchase price,
            less shipping and handling within 14 days of delivery. Please 
            contact us at info[at] harlemcandlecompany.com for further details.
        </p>
    </section>
</div> 


