<footer class="footer">
  <section class="footer__about">
    <p class="footer__title">ABOUT US</p>

    <p class="footer__descr text-muted">
      Our company is a luxury home fragrance brand specializin g in scented
      candles inspired by the richness of Harlem. Founded in 2014 by travel and
      lifestyle expert Teri Johnson, the Harlem Candle Company is the
      manifestation of her love affair with fragrance, jazz, and Harlem.
    </p>

    <div class="footer__socials">
      <a href="#" class="footer__social">
        <img
          src="/../assets/icons/facebook.png"
          alt="facebook"
          class="facebook footer__icon"
        />
      </a>

      <a href="#" class="footer__social">
        <img
          src="/../assets/icons/twitter.png"
          alt="twitter"
          class="twitter footer__icon"
        />
      </a>

      <a href="#" class="footer__social">
        <img
          src="/../assets/icons/instagram.png"
          alt="instagram"
          class="instagram footer__icon"
        />
      </a>
    </div>
  </section>

  <section class="footer__links">
    <p class="footer__title">info</p>
    <ul class="pl-0">
      <li>
        <a href="#" class="footer__link text-muted">About Us</a>
      </li>
      <li>
        <a href="#" class="footer__link text-muted" [routerLink]="['/contact']"
          >Contact Us</a
        >
      </li>
      <li>
        <a href="#" class="footer__link text-muted" [routerLink]="['/care']"
          >Candle Care</a
        >
      </li>
      <li>
        <a href="#" class="footer__link text-muted" [routerLink]="['/terms']"
          >Terms &amp; Conditions</a
        >
      </li>
    </ul>
  </section>

  <section class="footer__copyright">&copy;All rights reserved</section>
</footer>
