<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
      <div class="nav flex-column nav-pills">
        <a
          class="nav-link"
          [routerLink]="['categories']"
          routerLinkActive="active"
          >Category</a
        >
        <a
          class="nav-link"
          [routerLink]="['products']"
          routerLinkActive="active"
          >Products</a
        >
        <a class="nav-link" [routerLink]="['orders']" routerLinkActive="active"
          >Orders</a
        >
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
